/* Reset CSS */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}
/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Font import */

@font-face {
  font-family: "Wellington Regular";
  src: url("font/Wellington/Wellington_regular.otf");
}

/* Header */

.header-nav__background {
  background-color: #f5e3ca;
  padding-left: 9vw;
  padding-right: 9vw;
  height: 10vw;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* Adjusting the image size for a tablet screen */
@media screen and (max-width: 1250px) {
  .header-nav__illustration {
    width: 60%;
    height: auto;
  }
}

/* Adjusting the image size for a phone screen */
@media screen and (max-width: 630px) {
  .header-nav__illustration {
    width: 30%;
    height: auto;

    display: flex;
    align-items: center;
  }
}

.header-nav__tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-nav__tabs a {
  padding-left: 2.5vw;
  font-family: Wellington Regular;
  font-size: 2vw;
  color: var(--444445, rgba(68, 68, 69, 0.7));
}

.header-nav__tabs a:hover {
  text-decoration: underline;
}

/* Home section */

.home-section__background {
  background: #fbeee6;
}

.home-img__illustration {
  padding-top: 8vw;

  display: flex;
  justify-content: center;
}

/* Adjusting the image size for a phone screen */
@media screen and (max-width: 630px) {
  .home-img__illustration img {
    width: 70%;
    height: auto;
  }
}

/* Adjusting the image size for a tablet screen */
@media screen and (max-width: 1250px) {
  .home-img__illustration img {
    width: 60%;
    height: auto;
  }
}

.home-text__welcome {
  font-family: Wellington Regular;
  font-size: 2.6vw;
  text-transform: capitalize;
  padding-top: 3vw;
  padding-right: 9vw;
  padding-bottom: 5vw;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

/* About section */

.about-section__background {
  background: #f5e3ca;
  padding-left: 9vw;
  padding-right: 9vw;
  padding-bottom: 4vw;
}

.about-description__alignment {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* Adjusting the text for a phone screen */
@media screen and (max-width: 630px) {
  .about-description__alignment {
    padding-top: 5vw;

    flex-wrap: wrap;
  }
}

#about-title__main {
  font-family: "the-seasons", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 4vw;
  padding-right: 10vw;
}

.about-text__description-studies {
  font-family: Wellington Regular;
  font-size: 2vw;
  line-height: 3vw;
  padding-top: 6.5vw;
  padding-bottom: 6.5vw;
}

.about-text__description-studies span {
  font-weight: bold;
}

.about-text__description-myself {
  font-family: Wellington Regular;
  font-size: 2vw;
  line-height: 3vw;
  padding-bottom: 6.5vw;
}

.about-text__description-myself span {
  font-weight: bold;
}

.about-card__computer-skills {
  background-color: #fbeee6;
  margin-bottom: 5vw;
  border-radius: 1.5vw;

  display: flex;
}

.about-description__computer-skills {
  padding-top: 5vw;
  padding-bottom: 5vw;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.about-description__computer-skills img {
  padding-bottom: 4.5vw;
  width: 6.5vw;
  height: auto;
}

/* Adjusting the card size for a phone screen */
@media screen and (max-width: 630px) {
  .about-description__computer-skills img {
    width: 20%;
    height: auto;
  }
}

.about-title__computer-skills {
  font-family: Wellington Regular;
  font-size: 3vw;
  font-weight: bold;
}

.about-content__computer-skills {
  padding-left: 4.5vw;
  max-width: 45vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-text__computer-skills:first-of-type {
  font-family: Wellington Regular;
  font-size: 2vw;
  line-height: 3vw;
  padding-top: 3vw;
  padding-bottom: 1vw;
}

.about-text__computer-skills:last-of-type {
  font-family: Wellington Regular;
  font-size: 2vw;
  line-height: 3vw;
  padding-bottom: 3vw;
}

.about-card__skills {
  background-color: #fbeee6;
  margin-bottom: 5vw;
  border-radius: 1.5vw;
  padding-top: 5vw;
  padding-bottom: 5vw;

  display: flex;
}

.about-content__skills {
  font-family: Wellington Regular;
  font-size: 2.4vw;
  padding-left: 4.5vw;
  min-width: 45vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-text__skills:first-of-type {
  padding-bottom: 1vw;
}

.about-description__skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-title__skills {
  font-family: Wellington Regular;
  font-size: 3vw;
  font-weight: bold;
}

.about-description__skills img {
  padding-bottom: 4.5vw;
  width: 6.5vw;
  height: auto;
}

/* Adjusting the image size for a phone screen */
@media screen and (max-width: 630px) {
  .about-description__skills img {
    width: 20%;
    height: auto;
  }
}

/* Adjusting the image size for a tablet screen */
@media screen and (max-width: 1250px) {
  .about-description__skills img {
    width: 20%;
    height: auto;
  }
}

/* Projects section */

.projects-section__background {
  background-color: #fbeee6;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-bottom: 4vw;
}

.projects-section__projects {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.projects-section__title {
  font-family: "the-seasons", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 4vw;
  padding-top: 5vw;
  padding-bottom: 3vw;
}

.projects-section__container {
  font-family: wellington regular;
}

.projects-section__container hr {
  margin: 1vw 0vw;
  width: 100%;
}

.projects-section__title-project {
  font-size: 3vw;
  font-weight: bold;
  padding-right: 2.8vw;
}

.projects-section__title-project:hover {
  text-decoration: underline;
  cursor: pointer;
}

.projects-section__category {
  font-family: Wellington Regular;
  font-size: 2vw;
}

.projects-section__1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.projects-section__2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.projects-section__3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.projects-section__4 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#desc0 {
  border: 1px solid black;
  padding: 1vw;
  max-width: 35vw;
  display: none;
}

#desc0 img {
  width: 30vw;
}

#desc0 p {
  font-family: Wellington Regular;
  font-size: 1.5vw;
  padding-top: 1vw;
}

#desc1 {
  border: 1px solid black;
  padding: 1vw;
  max-width: 35vw;
  display: none;
}

#desc1 img {
  width: 30vw;
}

#desc1 p {
  font-family: Wellington Regular;
  font-size: 1.5vw;
  padding-top: 1vw;
}

#desc2 {
  border: 1px solid black;
  padding: 1vw;
  max-width: 35vw;
  display: none;
}

#desc2 img {
  width: 30vw;
}

#desc2 p {
  font-family: Wellington Regular;
  font-size: 1.5vw;
  padding-top: 1vw;
}

#desc3 {
  border: 1px solid black;
  padding: 1vw;
  max-width: 35vw;
  display: none;
}

#desc3 img {
  width: 30vw;
}

#desc3 p {
  font-family: Wellington Regular;
  font-size: 1.5vw;
  padding-top: 1vw;
}

.projects-section__button {
  background-color: #f5e3ca;
  border: none;
  font-family: Wellington Regular;
  font-size: 1vw;
  margin-top: 1vw;
  padding: 0.4vw 0.8vw;
  border-radius: 1vw;
}

.projects-section__button:hover {
  cursor: pointer;
}

.projects-section__button:active {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

/* Footer */

.contact-section__background {
  background-color: #f5e3ca;
  padding-top: 6vw;
  padding-bottom: 3vw;
}

#contact-section__title {
  font-family: "the-seasons", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 4vw;
  padding-bottom: 3vw;
  padding-left: 5vw;
}

hr {
  border: 0.1vw solid black;
  width: 90%;
}

.contact-section__content {
  padding-top: 2vw;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.contact-section__title-mail {
  font-family: "the-seasons", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2vw;
  padding-bottom: 1vw;
  text-decoration: underline;
}

.contact-section__mail:hover {
  text-decoration: underline;
  cursor: pointer;
}

.contact-section__mail {
  font-family: wellington regular;
  font-size: 2vw;
  color: black;
  padding-left: 5vw;
}

.contact-section__mail a {
  font-family: wellington regular;
  font-size: 2vw;
  color: black;
}

.contact-section__localisation-title {
  font-family: "the-seasons", sans-serif;
  font-weight: 700;
  font-size: 2vw;
  padding-bottom: 1vw;
  text-decoration: underline;
}

.contact-section__localisation-text {
  font-family: Wellington Regular;
  font-size: 2vw;
  max-width: 30vw;
  line-height: 2.5vw;
}

.contact-section__links a {
  font-family: wellington regular;
  font-size: 2vw;
  color: black;
}

.contact-section__links a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.contact-section__links img {
  padding-right: 5vw;
}

.contact-section__links:last-of-type {
  padding-top: 1vw;
}

/* Adjusting the image size for a phone screen */

@media screen and (max-width: 630px) {
  .contact-section__links img {
    width: 20vw;
    height: auto;
  }
}

/* Adjusting the image size for a tablet screen */

@media screen and (max-width: 1250px) {
  .contact-section__links img {
    width: 2vw;
    height: auto;
  }
}

/* Adjusting the image size for a computer screen */

@media screen and (min-width: 1250px) {
  .contact-section__links img {
    width: 1.5vw;
    height: auto;
  }
}

.contact-section__links-title {
  font-family: "the-seasons", sans-serif;
  font-weight: 700;
  font-size: 2vw;
  padding-right: 5vw;
  padding-bottom: 1vw;
  text-decoration: underline;
}