/* Reset CSS */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Importation des polices */

@font-face {
  font-family: "Wellington Regular";
  src: url("font/Wellington/Wellington_regular.otf");
}

@font-face {
  font-family: "";
  src: url("");
}

/* Header */

.header-nav__background {
  background-color: #f5e3ca;
  padding-left: 9vw;
  padding-right: 9vw;
  height: 10vw;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* Ajustement de la taille de l'image pour un écran de tablette */
@media screen and (max-width: 1250px) {
  .header-nav__illustration {
    width: 60%;
    height: auto;
  }
}

/* Ajustement de la taille de l'image pour un écran de téléphone */
@media screen and (max-width: 630px) {
  .header-nav__illustration {
    width: 30%;
    height: auto;

    display: flex;
    align-items: center;
  }
}

.header-nav__tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-nav__tabs a {
  padding-left: 2.5vw;
  font-family: Wellington Regular;
  font-size: 2vw;
  color: var(--444445, rgba(68, 68, 69, 0.7));
}

.header-nav__tabs a:hover {
  text-decoration: underline;
}

/* Home section */

.home-section__background {
  background: #fbeee6;
}

.home-img__illustration {
  padding-top: 8vw;

  display: flex;
  justify-content: center;
}

/* Ajustement de la taille de l'image pour un écran de téléphone */
@media screen and (max-width: 630px) {
  .home-img__illustration img {
    width: 70%;
    height: auto;
  }
}

/* Ajustement de la taille de l'image pour un écran de tablette */
@media screen and (max-width: 1250px) {
  .home-img__illustration img {
    width: 60%;
    height: auto;
  }
}

.home-text__welcome {
  font-family: Wellington Regular;
  font-size: 2.6vw;
  text-transform: capitalize;
  padding-top: 3vw;
  padding-right: 9vw;
  padding-bottom: 5vw;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

/* About section */

.about-section__background {
  background: #f5e3ca;
  padding-left: 9vw;
  padding-right: 9vw;
  padding-bottom: 4vw;
}

.about-description__alignment {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* Adaptation du texte à la taille d'un écran de téléphone */
@media screen and (max-width: 630px) {
  .about-description__alignment {
    padding-top: 5vw;

    flex-wrap: wrap;
  }
}

#about-title__main {
  font-size: 5vw;
  padding-right: 10vw;
}

.about-text__description-studies {
  font-family: Wellington Regular;
  font-size: 2.4vw;
  line-height: 3vw;
  padding-top: 6.5vw;
  padding-bottom: 6.5vw;
}

.about-text__description-studies span {
  font-weight: bold;
}

.about-text__description-myself {
  font-family: Wellington Regular;
  font-size: 2.4vw;
  line-height: 3vw;
  padding-bottom: 6.5vw;
}

.about-text__description-myself span {
  font-weight: bold;
}

.about-card__computer-skills {
  background-color: #fbeee6;
  margin-bottom: 5vw;
  border-radius: 1.5vw;

  display: flex;
}

.about-description__computer-skills {
  padding-top: 5vw;
  padding-bottom: 5vw;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.about-description__computer-skills img {
  padding-bottom: 4.5vw;
  width: 6.5vw;
  height: auto;
}

/* Ajustement de la taille de la carte pour un écran de téléphone */
@media screen and (max-width: 630px) {
  .about-description__computer-skills img {
    width: 20%;
    height: auto;
  }
}

.about-title__computer-skills {
  font-family: Wellington Regular;
  font-size: 4vw;
  font-weight: bold;
}

.about-content__computer-skills {
  padding-left: 4.5vw;
  max-width: 45vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-text__computer-skills:first-of-type {
  font-family: Wellington Regular;
  font-size: 2.4vw;
  line-height: 3vw;
  padding-top: 3vw;
  padding-bottom: 1vw;
}

.about-text__computer-skills:last-of-type {
  font-family: Wellington Regular;
  font-size: 2.4vw;
  line-height: 3vw;
  padding-bottom: 3vw;
}

.about-card__skills {
  background-color: #fbeee6;
  margin-bottom: 5vw;
  border-radius: 1.5vw;
  padding-top: 5vw;
  padding-bottom: 5vw;

  display: flex;
}

.about-content__skills {
  font-family: Wellington Regular;
  font-size: 2.4vw;
  padding-left: 4.5vw;
  min-width: 45vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-text__skills:first-of-type {
  padding-bottom: 1vw;
}

.about-description__skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-title__skills {
  font-family: Wellington Regular;
  font-size: 4vw;
  font-weight: bold;
}

.about-description__skills img {
  padding-bottom: 4.5vw;
  width: 6.5vw;
  height: auto;
}

/* Ajustement de la taille de l'image pour un écran de téléphone */
@media screen and (max-width: 630px) {
  .about-description__skills img {
    width: 20%;
    height: auto;
  }
}

/* Ajustement de la taille de l'image pour un écran de tablette */
@media screen and (max-width: 1250px) {
  .about-description__skills img {
    width: 20%;
    height: auto;
  }
}

/* Projects section */

/* Pour les images, on fait un container où on met toutes les images 
qui auront une position absolute (elles dépendront du container).
Ou alors le texte utilise toute la largeur, puis lorsqu'on passe la souris 
sur la ligne, le texte à gauche (le titre) se décale un peu et l'image s'affiche */
